.taskContainer {
  background-image: url("../../assets/new.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

:global(.react-datepicker) {
  font-size: 0.8rem;
  max-width: 280px;
  border-radius: 8px;
  background: white;
}
:global(.react-datepicker__header) {
  background-color: rgb(174, 161, 161, 0.4);
  border-bottom: 1px solid black;
  text-align: center;
}
:global(.react-datepicker__day) {
  color: black;
  border-radius: 6px;
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

:global(.react-datepicker__month) {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr); /* 7 days per week */
  gap: 2px; /* space between days */
}
:global(.react-datepicker__day-names) {
  display: grid !important;
  grid-template-columns: repeat(7, 1fr); /* 7 days */
  text-align: center;
  font-weight: bold;
  padding: 0 5px;
}
:global(.react-datepicker__day-name) {
  font-size: 0.55rem;
  text-transform: capitalize;
  width: 100%;
  overflow: hidden;
  text-overflow: clip;
}
:global(.react-datepicker__week) {
  display: contents !important;
}

:global(.react-datepicker__day),
:global(.react-datepicker__day-name) {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
}
:global(.react-datepicker-popper) {
  z-index: 9999 !important; /* ensures the calendar is always on top */
}
.taskContainer h1 {
  position: absolute;
  top: 20px;
}
.taskContainer form {
  display: flex;
  flex-direction: column;

  background-color: rgba(255, 255, 255, 0.9);
  height: 300px;
  width: 70%;
  border-radius: 30px;
  position: relative;
}

.addbutton {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  border-radius: 30px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background-color: rgba(41, 132, 41, 0.6);
  width: 40%;
  height: 40px;
  font-weight: 800;
  font-size: 18px;
  color: white;
}
.inputs {
  width: 50%;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 20px;
  border: none;
  height: 40px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.datepicker {
  width: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  border-radius: 20px;
  border: none;
  height: 40px;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
label {
  width: 50%;
  position: absolute;
  top: 22%;
  left: 36%;
  transform: translateX(-50%);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}
:global(.react-datepicker__navigation--previous),
:global(.react-datepicker__navigation--next) {
  width: 50%;
}
